:root {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: "Horizon";
    src: url("/assets/fonts/horizon.otf");
}

@font-face {
    font-family: "RobotoCond";
    src: url("/assets/fonts/Roboto-Condensed.ttf");
}

@font-face {
    font-family: "HorizonOutlined";
    src: url("/assets/fonts/horizon_outlined.otf");
}

@font-face {
    font-family: "BebasNeue";
    src: url('/assets/fonts/BebasNeue-Regular.otf');
}